<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-secondary navbar-dark">
      <a href="settings" class="navbar-brand mx-4 mb-3">
          <h3 class="text-primary">
            <img class="rounded-circle" src="../../../assets/img/logo0.jpg" alt="" style="width: 40px; height: 40px;">
            4S TECH
          </h3>
      </a>
      
      <div class="navbar-nav w-100">
        <a href="settings" class="nav-item nav-link">{{ localization[loginData.language_index].settings }}</a>
        <a href="invoices" class="nav-item nav-link">{{ localization[loginData.language_index].invoices }}</a>
        <a href="debit-notes" class="nav-item nav-link">{{ localization[loginData.language_index].debitNotes }}</a>
        <a href="credit-notes" class="nav-item nav-link">{{ localization[loginData.language_index].creditNotes }}</a>
        <a href="receipts" class="nav-item nav-link active">{{ localization[loginData.language_index].eReceipt }}</a>
        <a href="return-receipts" class="nav-item nav-link">{{ localization[loginData.language_index].eReturnReceipt }}</a>
        
          <!-- <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-bar-chart-line"></i>Accounts</a>
              <div class="dropdown-menu bg-transparent border-0">
                  <a href="#" class="dropdown-item">one</a>
                  <a href="#" class="dropdown-item">two</a>
                  <a href="#" class="dropdown-item">tree</a>
                  <a href="#" class="dropdown-item">four</a>
                  <a href="#" class="dropdown-item">five</a>
                  <a href="#" class="dropdown-item">six</a>
                  <a href="#" class="dropdown-item">Seven</a>
                  <a href="#" class="dropdown-item">eight</a>
              </div>
          </div> -->
      </div>
  </nav>
</div>